export(bufferPoint)
export(geoknife)
export(printProcessInputs)
exportMethods("setAlgorithm<-")
exportMethods("setFeature<-")
exportMethods("setProcessInputs<-")
exportMethods(checkProcess)
exportMethods(getAlgorithms)
exportMethods(getAttributes)
exportMethods(getDataIDs)
exportMethods(getShapefiles)
exportMethods(getValues)
exportMethods(setWFS)
exportMethods(setWPS)
exportMethods(startProcess)
import(RCurl)
import(XML)
